@value makerGreen,makerWhite,makerBlack,makerLightGrey from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
}
.title {
  color: makerGreen;
  text-align: center;
}
